/* main elements */
body,div,td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #333;
}

body {
	background-color: #fff;
	background-image: url(../images/tux2.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	background-size: 100;
	text-align: center;
	min-width: 600px;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
}

div {
	margin: 5px 25px 5px 25px;
	text-align: left;
}

/* header and footer elements */
#boxxx {
	width: 590px;
	height: 50px;
	margin: 0 auto;
	text-align: center; background-color : #6B86A6;
	border-radius: 10px;
	background-color: #6B86A6;
}

#main {
	margin: 0 auto;
	position: relative;
	top: 35px;
	left: 0px;
	width: 860px;
/* 	height: 100%; */
	text-align: left;
	background-image: url(../images/tux.png);
	background-position-y: 90%;
	background-position-x: 7%;
	background-repeat: no-repeat;
	background-size: 70;
	
}

.vertline {
	float: left;
	width: 1px;
	/* 	height:100%; */
	border-right: 1px solid #999999;
}

.menu {
	float: left;
	width: 150px;
/* 	height: 80%; */
/* 	border-right: 1px solid #999999; */
	line-height: 25px;
}


.menu ul {
	list-style-type: none;
/* 	margin: 2px; */
	padding: 0px;
	margin-right: 10px;
}

.menu li {
	padding: 2px;
	background-color: #F9F9F9;
	border-radius: 5px;
}


.menu a:link,a:visited {
	display: block;
	font-weight: bold;
	/* 	color:#FFFFFF; */
	background-color: #F0F0F0;
	/* 	width:80% */
	text-align: center;
/* 	padding: 4px; */
	text-decoration: none;
/* 	text-transform: uppercase; */
	border-radius: 10px;
	border: 1px solid #DDDDDD;
}

.menu a:hover,a:active {
	#background-color: #FDFDFD;
}

.base {
	border-left: 1px solid #999999;
/* 	float: left; */
/* 	padding:1em; */
	padding-left:20px;
	margin-left:180px;
	/* 	width:70%; */
	min-height:50%;
	
}

.footer {
	background: #fff;
	border: none;
	margin-top: 20px;
	border-top: 1px solid #999999;
	width: 100%;
	
/* 	background-image: url(../images/pets.png); */
/* 	background-position: bottom center; */
/* 	background-repeat: no-repeat; */
}

.footer td {
	color: #999999;
}

.footer a:link {
	color: #7db223;
}

/* text styles */
h1,h2,h3 {
	font-family: Helvetica, sans-serif;
	color: #7db223;
}

h1 {
	font-size: 40px;
	line-height: 26px;
	text-shadow: 1px 1px 1px;
}

h2 {
	font-size: 18px;
	line-height: 24px;
}

h3 {
	font-size: 15px;
	line-height: 21px;
	color: #555;
}

h4 {
	font-size: 14px;
	line-height: 20px;
}

.errors {
	color: red;
	font-weight: bold;
}

a {
	text-decoration: underline;
	font-size: 13px;
}

#login__ {
	right: 10px;
	top: 25px;
	position: fixed;
}

.base a:link {
	color: #7db223;
}

.base a:hover {
	color: #456314;
}

.base a:active {
	color: #7db223;
}

.base a:visited {
	color: #7db223;
}
/*
ul {
	list-style: disc url(../images/bullet-arrow.png);
}

li {
	padding-top: 5px;
	text-align: left;
}

li ul {
	list-style: square url(images/sub-bullet.gif);
}

li ul li ul {
	list-style: circle none;
}
*/
/* table elements */
table {
	/* 	background: #FDFDFD; */
	margin: 3px 0 0 0;
	/* 	border: 4px solid #DDDDDD; */
/* 	width: 500px;  */
	border-collapse:  collapse;
}

table table {
/* 	margin: -5px 0; */
	border: 1px solid #e0e7d3;
/* 	width: 100%; */
}

table td,table th {
	padding: 8px;
	width:100px;
	border: 1px solid #ddd;
}

table tr:nth-child(even) {
	background-color: #F9F9F9
}

table th {
	font-size: 14px;
	text-align: left;
	font-weight: bold;
}

table thead {
	font-weight: bold;
/* 	font-size: 16px; */
	font-style: italic;
	background-color: #c2ceaf;
}

table a:link {
	color: #303030;
}

caption {
	caption-side: top;
	width: auto;
	text-align: left;
	font-size: 12px;
	color: #848f73;
	padding-bottom: 4px;
}

fieldset {
	background: #e0e7d3;
	padding: 8px;
	padding-bottom: 22px;
	border: none;
	width: 560px;
}

fieldset label {
	width: 70px;
	float: left;
	margin-top: 1.7em;
	margin-left: 20px;
}

fieldset textfield {
	margin: 3px;
	height: 20px;
	background: #e0e7d3;
}

fieldset textarea {
	margin: 3px;
	height: 165px;
	background: #e0e7d3;
}

fieldset input {
	margin: 3px;
	height: 20px;
	background: #e0e7d3;
}

fieldset table {
	width: 100%;
}

fieldset th {
	padding-left: 25px;
}

.table-buttons {
	background-color: #fff;
	border: none;
}

.table-buttons td {
	border: none;
}

button {
	border: 2px outset;
	padding: 2px 10px;
	font-weight: bold;
	border-color: #EEEEEE;
	border-radius: 20px;
}

.submit input {
	border: 2px outset;
/* 	color: #383838; */
	padding: 2px 10px;
	font-weight: bold;
	border-radius: 10px;
}

.updated {
	background: #ecf1e5;
	font-size: 11px;
	margin-left: 2px;
	border: 4px solid #ecf1e5;
}

.updated td {
	padding: 2px 8px;
	font-size: 11px;
	color: #888888;
}