/* main elements */

body,div,td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #001F7A;
}

body {
	background-color: #fff;
	background-image: url(../images/banner-graphic.png);
	background-position: top center;
	background-repeat: no-repeat;
	text-align: center;
	min-width: 600px;
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
}

div {
	margin: 5px 25px 5px 25px;
	text-align: left;
}

/* header and footer elements */

#main {
  	margin:0 auto;
  	position:relative;
  	top: 35px;
  	left:0px;
  	width:560px;
  	text-align:left;
}

.footer {
	background:#fff;
	border:none;
	margin-top:20px;
	border-top:1px solid #999999;
	width:100%;
}

.footer td {color:#999999;}

.footer a:link {color: #00CED1;}

	
/* text styles */

h1,h2,h3 {
	font-family: Helvetica, sans-serif;
	color: #0033CC;
}

h1 {
	font-size: 20px;
	line-height: 26px;
}

h2 {
	font-size: 18px;
	line-height: 24px;
}

h3 {
	font-size: 15px;
	line-height: 21px;
}

h4 {
	font-size: 14px;
	line-height: 20px;
}

.errors {
	color: red;
	font-weight: bold;
}

a {
	text-decoration: underline;
	font-size: 13px;
}

#cart {
	right:35px;
	top:10px;
	position:fixed;
}

#login {
	right:10px;
	top:25px;
	position:fixed;
}

a:link {
	color: #0033CC;
}

a:hover {
	color: #0033CC;
}

a:active {
	color: #0033CC;
}

a:visited {
	color: #0033CC;
}

ul {
	list-style: disc url(../images/bullet-arrow.png);
}

li {
	padding-top: 5px;
	text-align: left;
}

li ul {
	list-style: square url(images/sub-bullet.gif);
}

li ul li ul {
	list-style: circle none;
}

/* table elements */

table {
	background: #CCD6F5;
	margin: 3px 0 0 0;
	border: 4px solid #0033CC;
	border-collapse: collapse;
}

table table {
	margin: -5px 0;
	border: 0px solid #e0e7d3;
	width: 100%;
}

table td,table th {
	padding: 8px;
}

table th {
	font-size: 12px;
	text-align: left;
	font-weight: bold;
}

table thead {
	font-weight: bold;
	font-style: italic;
	background-color: #B2C2F0;
}

table a:link {color: #303030;}

caption {
	caption-side: top;
	width: auto;
	text-align: left;
	font-size: 12px;
	color: #848f73;
	padding-bottom: 4px;
}

fieldset {
	background: #e0e7d3;
	padding: 8px;
	padding-bottom: 22px;
	border: none;
	width: 560px;
}

fieldset label {
	width: 70px;
	float: left;
	margin-top: 1.7em;
	margin-left: 20px;
}

fieldset textfield {
	margin: 3px;
	height: 20px;
	background: #e0e7d3;
}

fieldset textarea {
	margin: 3px;
	height: 165px;
	background: #e0e7d3;
}

fieldset input {
	margin: 3px;
	height: 20px;
	background: #e0e7d3;
}

fieldset table {
	width: 100%;
}

fieldset th {
	padding-left: 25px;
}

.table-buttons {
	background-color:#fff;
	border:none;
}

.table-buttons td {
	border:none;
}

button {
	border: 2px outset #6685E0;
	color:#0033CC;
	padding:2px 10px;
	font-size:11px;
	font-weight:bold;
}

.submit input {
	background:url(../images/submit-bg.png) repeat-x;
    border: 2px outset #6685E0;
	color:#0033CC;
	padding:2px 10px;
	font-size:11px;
	text-transform:uppercase;
	font-weight:bold;
}

.updated {
	background:#ecf1e5;
	font-size:11px;
	margin-left:2px;
	border:4px solid #ecf1e5;
}

.updated td {
	padding:2px 8px;
	font-size:11px;
	color:#888888;
}